<ion-header>
  <ion-navbar>
    <ion-title>Sets</ion-title>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let serie of series">
    <ion-item-divider color="light">{{serie}}</ion-item-divider>
    <ion-card class="set" *ngFor="let set of getSets(serie)" (click)="itemTapped($event, set)">
      <img class="image" [src]="file.dataDirectory + set.code"/>
      <ion-card-content>
        <ion-card-title>
          {{set.name}}
          <img class="set-symbol" [src]="set.symbolUrl"/>
        </ion-card-title>
        <p>
          {{set.series}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item-group>
</ion-content>
