<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let set of sets" (click)="itemTapped($event, set)">
      <ion-icon [name]="set.code" item-left></ion-icon>
      {{set.name}}
      <div class="item-note" item-right>
        {{set.series}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedSet" padding>
    You navigated here from <b>{{selectedSet.name}}</b>
  </div>
</ion-content>
