page-image {
  ion-content {
    background: none !important;

    .container {
      height: 100%;
      display: flex;

      img {
        border-radius: 10px;
        box-shadow: $modal-inset-box-shadow;
        margin: auto;
      }
    }
  }
}
